@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


#container-grid-filmes{
    display: grid;
    gap: 10px; /* distancia entre os itens lateral */
    width: 90vw;  /* view width; */
    height: auto; /* view height; */
    box-shadow: 5px 5px 5px #000;
    border: 1px solid rgb(96, 96, 216);
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, 300px); /* distribui como grade um do lado do outro */
    justify-content: center;
}

.card-filmes{
    display: flex;
    width: 300px;
    height: 400px;
    background: grey;
    border-radius: 10px;
}

.card-filmes-poster{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.card-filmes-info-container{
    position: absolute;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid rgb(96, 96, 216);
    overflow: hidden; /* impede que a ponta fique quadrada no topo do card */


}

.card-filmes-info-container-header{
  background-color: rgba(0, 0, 0, 0.7);
  width: 300px;
  height: 50px;

}

.card-filmes-info-title{
  color: white;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  flex-direction: row; /* no css o padrão é linha e no react native o padrão é coluna */
  justify-content: center; /* sempre alinha no eixo principal com o flex direction default row */
  height: 100%;

}

#menu-h{
  background-color: rgb(96, 96, 216);
  margin-bottom: 20px;

}

#menu-h ul {
  max-width: 800px;
  list-style: none;
  padding: 0;
}

#menu-h ul li {
  display: inline;
}

#menu-h ul li a {
  color: #000;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background .4s; /* ele da um fade de 400 milisegundos .04s */
  font-size: 20px;
  
}

#menu-h ul li a:hover {
  background-color: white;
}

.navbar-brand>img {
  max-width: 80%;
  margin-left: 20px;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 20px;
}

.pagination a.active {
  background-color: rgb(96, 96, 216);
  color: white;
}
